<div class="sign-up-div">
  <div class="header">
    <div class="logos">
      <img src="../../assets/imgs/Emblem_of_India.png" alt="app-logo">
      <img src="../../assets/imgs/ic_launcher.png" alt="app-logo">
    </div>
    <h1 class="title">{{'APP_TITLE' | translate:{'%s': appName} }}</h1>
    <h5 class="subtitle">{{'REGISTER_TO' | translate:{'appName': appName} }}</h5>
  </div>


  <form [formGroup]="personalInfoForm" (ngSubmit)="continue()" novalidate>
    <ion-item lines="none">
      <ion-label position="stacked" class="important">{{'FULL_NAME' | translate}}</ion-label>
      <ion-input type="text" placeholder="{{'ENTER_NAME' | translate}}" formControlName="name"></ion-input>
    </ion-item>
    <div class="ion-padding-start danger"
      *ngIf="personalInfoForm.controls.name.touched && personalInfoForm.controls['name'].errors && personalInfoForm.controls['name'].errors.required">
      {{'NAME_VALID' | translate}}
    </div>

    <ion-item lines="none">
      <ion-label position="stacked" class="important">{{'YOB_TITLE' | translate}}</ion-label>
      <section>
        <ion-datetime min="{{minYear}}" max="{{maxYear}}" placeholder="{{'SELECT_YOB' | translate}}"
          formControlName="dob" displayFormat="YYYY" pickerFormat="YYYY">
        </ion-datetime>
        <ion-icon name="calendar" slot="end"></ion-icon>
      </section>
    </ion-item>
    <div class="ion-padding-start danger"
      *ngIf="personalInfoForm.controls.dob.touched && personalInfoForm.controls['dob'].errors && personalInfoForm.controls['dob'].errors.required">
      {{'YOB_VALID' | translate}}
    </div>
    <ion-row>
      <ion-col size-md="10">
        <ion-button expand="block" (click)="continue()" [disabled]="!personalInfoForm.valid">
          {{'CONTINUE' | translate}} <ion-icon class="mg-popup-btn-icon" name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>